body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin-bottom: 2rem;
}

.card-img-top {
    height: 300px; /* Hauteur souhaitée pour les images */
    object-fit: cover; /* Redimensionnement de l'image pour s'adapter à la taille définie tout en conservant son aspect */
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  

#flexbox {
    display: flex;
    justify-content: space-between;
    align-items: end;    
}

.title {
    font-family: Calibri, sans-serif;
    font-size: 2rem;
    color: #ffffff !important;
    font-weight: bold;
    margin: 0 auto;
    padding-left: 0.5%;
}

.logo {
    width: 50px;
    height: 50px;
    padding-bottom: 1%;
    margin: 0%;
}

.navbar .row {
    position: relative;
}

.navbar-nav {
    position: absolute;
    top: 1;
    right: 0;
}

#search-input {
    width: 0;
    height: 25px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    transition: width 0.3s ease-in-out;
}


#search-input.d-none {
    display: none;
}

#search-input:focus {
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
}

.btn-apply-filters {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-apply-filters:hover {
    background-color: #218838;
    border-color: #1e7e34;
}